:root {
    --modal-font-color: #1C1C21;
    --modal-background: #FFF;

    --modal-close-background: #BFBFBF;

    --max-width-content: 820px;
}

@keyframes modalFadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes modalFadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes modalSlideIn {
    from {
        transform: translateY(15%);
    }
    to {
        transform: translateY(0);
    }
}

@keyframes modalSlideOut {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-10%);
    }
}

.modal {
    color: var(--modal-font-color);
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    z-index: 22;
}

.modal.visible .modal-overlay {
    animation: modalFadeIn .3s cubic-bezier(0.0, 0.0, 0.2, 1);
}

.modal.visible .modal-container {
    animation: modalSlideIn .3s cubic-bezier(0.0, 0.0, 0.2, 1);
}

.modal.hide .modal-overlay {
    animation: modalFadeOut .3s cubic-bezier(0.0, 0.0, 0.2, 1);
}

.modal.hide .modal-container {
    animation: modalSlideOut .3s cubic-bezier(0.0, 0.0, 0.2, 1);
}

.modal.visible .modal-overlay {
    display: flex;
}

.modal.hide .modal-overlay {
    display: none;
}

.modal-close {
    border: 0;
    cursor: pointer;
    padding: 0;
    position: absolute;
    right: 0;
    top: -1rem;
    z-index: 1;
    background-color: var(--modal-close-background);
    border-radius: 100%;
    width: 2rem;
    height: 2rem;
    line-height: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.modal-close::before {
    content: "\2715";
    font-size: 1.25rem;
    font-weight: 500;
    font-variation-settings: "wght" 500;
}

.modal-container {
    max-height: 90vh;
    width: calc(100% - 2rem);
    max-width: var(--max-width-content);
    position: relative;
    padding: 0 1rem;
}

@media only screen and (max-width: 767px) {
    .modal-container {
        max-height: 70vh;
    }
}

.modal-container > .inside {
    background-color: var(--modal-background);
    max-height: inherit;
    overflow-y: auto;
    max-width: var(--max-width-content);
}
